.togglestatus{
  font-family:"thicc";
  font-size: 50px;
  font-weight: bold;
}
.players{
  width:fit-content;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  padding: 1%;
  margin: 5%;
}
#title{
  font-size: x-large;
  font-family: Sheesh;
}
#list{
  font-size: large;
  font-family: thinFont;
}
@font-face{
  font-family: "Sheesh";
  src: url(fonts/ShipporiAntiqueB1-Regular.ttf)
}
@font-face {
  font-family: thicc;
  src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: thinFont;
  src: url(fonts/Poppins-Light.ttf);
}